.full-body-container {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: contain;
    background-position: cover;
}


.film {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.clicked {
    color: green;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Safari 9+ and Chrome 49+ */
    transition: all 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    filter: none;
    -webkit-filter: none;
}

.dashed-line {
    content: "";
    display: flex;
    height: 1px;
    justify-content: center;
    margin: auto;
    width: 90%;

    border-bottom: 1px dashed black;
}



.input-box {
    border-radius: 0px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 500px;
    height: 80px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding-left: 10px;

}

.bg-text:after {
    content: "";
    display: flex;
    height: 1px;
    justify-content: center;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    border-bottom: 1px dashed black;
}

.input-box button[type="rec-books"] {
    background-color: #4CAF50;
    /* Set a background color */
    color: white;
    /* Set a text color */
    border: none;
    /* Remove borders */
    padding: 10px 20px;
    /* Set padding */
    font-size: 16px;
    /* Set font size */
    cursor: pointer;
    /* Change cursor on hover */
}

/* On hover */
.input-box button[type="rec-books"]:hover {
    background-color: #3e8e41;
}



#answer-box {
    width: 400px;
    min-height: 400px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 250px;
}

.answer-box-image {
    background-image: url(images/wrinkled-paper-texture-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* #answer-box.has-results {
    background-image: url(images/wrinkled-paper-texture-7.jpg);
    /* add other background styles */

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.panel-content {
    padding: 20px;
}

#help-panel {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: grey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-out;
    z-index: 9999;
}

#help-panel.active {
    left: 0;
}

#text-above-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#help {
    border-radius: 25px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
}