.full-body-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: url(book-wallpaper.jpeg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: repeat;
}

.film {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.clicked {
    color: green;
}

#title-logo {
    color: #274e13;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 113px;
    text-align: center;
}

#slogan {

    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    text-align: center;

    color: #010101;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Safari 9+ and Chrome 49+ */
    transition: all 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    filter: none;
    -webkit-filter: none;
}

.input-box {
    border-radius: 0px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    height: 80px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    border-radius: 10px;
}

#answer-box {
    width: 700px;
    height: 400px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.panel-content {
    padding: 20px;
}

#help-panel {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: grey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-out;
    z-index: 9999;
}

#help-panel.active {
    left: 0;
}

#help {
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
}