<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="logo-image">
                <img src="{{ url_for('static', filename='images/litcinema-logo-medium.png') }}" />
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search.png') }}" />
                <input placeholder="Type in your favorite movie!" id="filter-text-val" onkeyup="delayedFindMovie()">
                <button type="rec-books" onclick="generateRec(findMovie())">Generate!</button>
            </div>
        </div>
        <div id="answer-box">
        </div>
        <div>
            <button id="help" onclick="updateImg()">?</button>
            <div class="graph" id="help-panel">
            </div>
        </div>
        <div id="text-above-button">Click here for more data insights</div>

        <script>
            var timeout;
            function delayedFindMovie() {
                clearTimeout(timeout);
                timeout = setTimeout(findMovie, 500); // Delayed by 500ms
            }
        </script>

        <script>
            const helpButton = document.getElementById("help");
            const helpPanel = document.getElementById("help-panel");
            const overlay = document.querySelector('.overlay');

            helpButton.addEventListener("click", function () {
                helpPanel.classList.toggle("active");
                // helpPanel.style.display = helpPanel.style.display === "none" ? "block" : "none";
                overlay.classList.toggle('active');
            });

            function answerBoxTemplate(title, titleDesc) {
                return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
            }

            function sendFocus() {
                document.getElementById('filter-text-val').focus()
            }

            function filterText() {
                document.getElementById("answer-box").innerHTML = "";
                console.log(document.getElementById("filter-text-val").value);
                fetch("/movies?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        data.forEach((item) => {
                            let tempDiv = document.createElement("div");
                            tempDiv.textContent = item; // Set the text content of the div to the item from the response
                            document.getElementById("answer-box").appendChild(tempDiv);
                        });

                    })
                    .catch((error) => {
                        console.error("Error fetching movies:", error);
                    });
            }
            clickedMovie = null
            function findMovie() {
                const inputVal = document.getElementById("filter-text-val").value;
                if (inputVal === "") {
                    // Clear previous search results
                    document.getElementById("answer-box").innerHTML = "";
                    document.getElementById("answer-box").classList.remove("answer-box-image");
                    return;
                }
                document.getElementById("answer-box").innerHTML = "";
                document.getElementById("answer-box").classList.remove("answer-box-image");
                console.log(document.getElementById("filter-text-val").value);
                fetch("/movie-search?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        data.forEach((item) => {
                            if (item != "") {
                                let tempDiv = document.createElement("div");
                                tempDiv.classList.add("film");
                                tempDiv.textContent = String(item);
                                tempDiv.addEventListener("click", () => {
                                    if (clickedMovie === null) {
                                        clickedMovie = tempDiv;
                                        tempDiv.classList.add("clicked");
                                    } else if (clickedMovie === tempDiv) {
                                        clickedMovie = null;
                                        tempDiv.classList.remove("clicked");
                                    }
                                    else {
                                        clickedMovie.classList.remove("clicked");
                                        clickedMovie = tempDiv;
                                        tempDiv.classList.add("clicked");
                                    }
                                });
                                document.getElementById("answer-box").appendChild(tempDiv);
                            }
                        });

                    })
                    .catch((error) => {
                        console.error("Error fetching movies:", error);
                    });

            }
            function updateImg() {
                let plotImg = document.createElement("img");
                plotImg.src = "{{ url_for('static', filename='../static/images/plot.png') }}?" + Date.now();
                plotImg.alt = "Plot";
                plotImg.style.display = "block";
                plotImg.style.margin = "0 auto";
                let helpPanel = document.getElementById("help-panel");
                helpPanel.innerHTML = ""; // Remove any existing image from the help panel
                helpPanel.appendChild(plotImg);
                let textDiv = document.createElement("div");
                textDiv.textContent = "  Note: The first five features in the graph are the top 5 most relevant features for comparing the movie description and book description, and the last 5 features are the top 5 for comparing the movie review and book description.";
                helpPanel.style.color = "white";
                helpPanel.appendChild(textDiv);
            }

            function generateRec() {
                console.log("Clicked books:", clickedMovie);
                fetch("/movies?" + new URLSearchParams({ movie: String(clickedMovie.textContent) }))
                    .then((response) => response.json())
                    .then((data) => {
                        // clear the answer box
                        document.getElementById("answer-box").innerHTML = '';


                        // add the text that only appears when the background image appears
                        const answerTitle = document.createElement("div");
                        answerTitle.textContent = `${clickedMovie.textContent} Recommendations`;
                        answerTitle.classList.add("bg-text");
                        document.getElementById("answer-box").appendChild(answerTitle);
                        answerTitle.style.fontSize = "30px";
                        answerTitle.style.marginTop = "35px"
                        answerTitle.style.marginBottom = "20px";
                        answerTitle.style.fontWeight = "bold";
                        answerTitle.style.fontFamily = "Arial";

                        if (data.length === 0) {
                            // create a new div element with the text "No recommendations found"
                            const noRecsDiv = document.createElement("div");
                            noRecsDiv.textContent = "No recommendations found";
                            document.getElementById("answer-box").appendChild(noRecsDiv);
                        } else {

                            // create a new div element for each recommendation
                            data.forEach((item, index) => {
                                let tempDiv = document.createElement("div");
                                tempDiv.style.display = "grid";
                                tempDiv.style.gridTemplateColumns = "40px 1fr";
                                tempDiv.style.gridGap = "10px";
                                tempDiv.style.marginBottom = "10px";
                                tempDiv.style.fontSize = "17px";
                                tempDiv.style.fontWeight = "540";
                                tempDiv.style.textAlign = "left";
                                tempDiv.style.paddingLeft = "20px";
                                tempDiv.style.paddingRight = "20px";
                                let indexWithLeadingZero = (index + 1).toString().padStart(2, "0");
                                tempDiv.innerHTML = `<span>${indexWithLeadingZero}.</span><span style="text-align: right">${item}</span>`;
                                document.getElementById("answer-box").appendChild(tempDiv);
                            });

                            const dashedLine = document.createElement("div");
                            dashedLine.classList.add("dashed-line");
                            document.getElementById("answer-box").appendChild(dashedLine);


                            const qtyText = document.createElement("div");
                            qtyText.textContent = "Qty: 10";
                            qtyText.classList.add("qty-text");
                            document.getElementById("answer-box").appendChild(qtyText);
                            qtyText.style.paddingLeft = "20px";
                            qtyText.style.textAlign = "left";
                            qtyText.style.fontFamily = "Courier New";
                            qtyText.style.marginTop = "10px";
                            qtyText.style.marginBottom = "10px";
                            qtyText.style.fontSize = "17px";

                            const dashedLineEnd = document.createElement("div");
                            dashedLineEnd.classList.add("dashed-line");
                            document.getElementById("answer-box").appendChild(dashedLineEnd);


                            const bottomText = document.createElement("div");
                            bottomText.textContent = "Enjoy your book recommendations!";
                            bottomText.classList.add("bottom-text");

                            const barcode = document.createElement("img");
                            barcode.src = "static/images/barcode.png";
                            barcode.classList.add("image-class");
                            document.getElementById("answer-box").appendChild(bottomText);
                            document.getElementById("answer-box").appendChild(barcode);

                            barcode.style.marginBottom = "20px";

                            bottomText.style.fontSize = "20px";
                            bottomText.style.marginTop = "20px"
                            bottomText.style.marginBottom = "20px";
                            bottomText.style.fontWeight = "bold";
                            bottomText.style.fontFamily = "Arial";

                            const bottomLogo = document.createElement("div");
                            bottomLogo.textContent = "LitCinema";
                            bottomLogo.classList.add("bottom-logo");
                            bottomLogo.style.fontSize = "10px";
                            bottomLogo.style.marginBottom = "20px";
                            bottomLogo.style.fontWeight = "bold";
                            bottomLogo.style.fontFamily = "Arial";
                            document.getElementById("answer-box").appendChild(bottomLogo);

                            // add the class to the answer box to show the background image
                            document.getElementById("answer-box").classList.add("answer-box-image");
                        }
                        answerBox.style.height = `${document.getElementById("answer-box").scrollHeight}px`;
                    })

                    .catch((error) => {
                        console.error("Error fetching movies:", error);
                    });
            }


        </script>
</body>