<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div>
                <img src="{{ url_for('static', filename='images/litcinema-logo-medium.png') }}" />
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search.png') }}" />
                <input placeholder="Type in your favorite movie!" id="filter-text-val" onkeyup="findMovie()">
                <button type="rec-books" onclick="generateRec(findMovie())">Generate!</button>
            </div>

        </div>
        <div id="answer-box">

        </div>
    </div>
    <button id="help">?</button>
    <div id="help-panel">
        TEMP
    </div>

    <script>
        const helpButton = document.getElementById("help");
        const helpPanel = document.getElementById("help-panel");
        const overlay = document.querySelector('.overlay');

        helpButton.addEventListener("click", function () {
            helpPanel.classList.toggle("active");
            // helpPanel.style.display = helpPanel.style.display === "none" ? "block" : "none";
            overlay.classList.toggle('active');
        });

        function answerBoxTemplate(title, titleDesc) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            console.log(document.getElementById("filter-text-val").value);
            fetch("/movies?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach((item) => {
                        let tempDiv = document.createElement("div");
                        tempDiv.textContent = item; // Set the text content of the div to the item from the response
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                })
                .catch((error) => {
                    console.error("Error fetching movies:", error);
                });
        }
        clickedMovie = null
        function findMovie() {
            document.getElementById("answer-box").innerHTML = "";
            console.log(document.getElementById("filter-text-val").value);
            fetch("/movie-search?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach((item) => {
                        if (item != "") {
                            let tempDiv = document.createElement("div");
                            tempDiv.classList.add("film");
                            tempDiv.textContent = String(item);
                            tempDiv.addEventListener("click", () => {
                                if (clickedMovie === null) {
                                    clickedMovie = tempDiv;
                                    tempDiv.classList.add("clicked");
                                } else if (clickedMovie === tempDiv) {
                                    clickedMovie = null;
                                    tempDiv.classList.remove("clicked");
                                }
                                else {
                                    clickedMovie.classList.remove("clicked");
                                    clickedMovie = tempDiv;
                                    tempDiv.classList.add("clicked");
                                }
                            });
                            document.getElementById("answer-box").appendChild(tempDiv);
                        }
                    });

                })
                .catch((error) => {
                    console.error("Error fetching movies:", error);
                });
        }
        function generateRec() {
            console.log("Clicked books:", clickedMovie);
            fetch("/movies?" + new URLSearchParams({ movie: String(clickedMovie.textContent) }))
                .then((response) => response.json())
                .then((data) => {
                    data.forEach((item) => {
                        let tempDiv = document.createElement("div");
                        tempDiv.textContent = item; // Set the text content of the div to the item from the response
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                })
                .catch((error) => {
                    console.error("Error fetching movies:", error);
                });
        }


    </script>
</body>